

<div class="navbar">
        <div class="navbar-left">
            <h2>Welcome to WriteBlog</h2>
        </div>
        <div class="navbar-right">
            <h3>Total Blogs: <span class="blog-count"><%= totalblog %></span></h3>
        </div>
    </div>
    <hr>
    