<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>new-blog</title>
        <link rel="stylesheet" href="/css/index.css">
</head>
<body>
        <h1>Write your blog</h1><hr>
        <form action="/posts" method="post">
                username: <input type="text" name="username" placeholder="username"><br><br>
                email: <input type="email" name="email" placeholder="enter email"><br><br>
                password: <input type="password" name="password" placeholder="enter password"><br><br>
                title: <input type="text" name="title" placeholder="title"><br><br>
                blog: <textarea name="content" id=""></textarea><br><br>
                <button type="submit">submit</button>
        </form>
</body>
</html>