body{
        background-color: #2D336B;
        /* position: relative; */
}

.post{
        background-color: #A9B5DF;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
}

.about{
        background-color: #7886C7;
        padding:  2px;
        border-radius: 2px;
}

.hide{
        display: none;
}

.new-blog{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 20;
        
}

.new-blog .button{
        font-size: 30px;
        padding: 10px;
        font-weight: 900;
        opacity: 0.8;
        background-color: #2D336B;
        text-decoration: none;
        color: #f0f0f0;
}